
@{
    ViewBag.Title = "Index";
}

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">

        <div class="container">

            <header>
                <h2 class="alt">
                    ¡Bienvenido a tu panel de administracion!
                </h2>
                <p>
                    Desde aqui podras realizar todo las opciones que<br />
                    SiteProfss te ofrece.
                </p>
            </header>

            <footer>
                <a href=@Url.Action("CrearOferta","dbd_Empresa") class="button scrolly">Crear Oferta</a>
            </footer>

        </div>
    </section>
</div>
