@{
    ViewBag.Title = "About";
}


<div class="col-md-12">
    <div class="about-area">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="about-left wow fadeInLeft">
                    <img src="/img/site-img11.jpg" alt="img" width="495px" height="410px">
                    <a class="introduction-btn" href="#">Nosotros</a>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="about-right wow fadeInRight">
                    <div class="title-area">
                        <h2 class="tittle">Aceca de <span>SiteProfss</span> </h2>
                        <span class="tittle-line"></span>
                        <span class="title-about">
                            <p>
                                Nuestro principal objetivo es entregar a la comunidad universitaria la oportunidad de llevar a cabo sus prácticas universitarias, disminuyendo las limitantes que puedan dificultar o impedir la realización; garantizando un canal directo entre los estudiantes con las empresas del pais formando una comunidad de empresas que brinden oportunidades a los usuarios de esta aplicación y con ello puedan obtener el fácil acceso a la información de búsqueda que se apegue a su perfil académico.
                            </p>
                        </span>
                        <div class="about-btn-area">
                            <a href=@Url.Action("Create", "Solicitantes") class="button button-default" data-text="SITEPROFSS"><span>REGISTRATE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
